html {
    background-color: rgb(224,222,222);
}

body {
    margin: 0 auto;
}

.header {
    display: flex;
    min-height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-image: url(images/nasaBackground.jpeg);
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: auto;
    font-size: 80px;
    color: white;
}

h2 {
    font-size: 20px;
}

.footer {
    display: flex;
    width: 100%;
    min-height: 324px;
    justify-content: space-between;
    flex-wrap: wrap;
}

span, input, textarea {
    font-size: 14px;
}

span {
    padding: 10px;
    /* min-width: 250px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    margin: 0 auto;
}

input, textarea {
    width: 240px;
    border: none;
}

.name {
    height: 28px;

}

textarea {
    height: 80px;
    resize: none;
}

.send {
    border: none;
    width: 80px;
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: 18px;
    font-weight: bold;
}